{% extends 'app/base.html' %}
{% block title %}ABOUT IBLOG-IBLOG  Community 📝📝{% endblock title %}
{% load static %}
{% load static %}
{% block body %}
<div class="container containe">
    <div class="row">
       <div class="col">
          
           <div class="card body2  my-3">
             <div class="p-5 pb-0 ">
                 
                
                <h2 class=" fw-bold">About IBLOG</h2>
                 <p>IBLOG is a community of software developers getting together to help one another out. The software industry relies on collaboration and networked learning. We provide a place for that to happen.</p>
                 
                 <p>IBLOG is built on Forem: open source software designed to empower communities. Because our application is open source, you can inspect every little detail of the code, or chip in yourself! Forem is available for anyone interested in creating similar communities in any niche or passion. Visit our meta Forem, forem.iblog for more information.</p>
                 
                 <p>We believe in transparency and adding value to the ecosystem. We hope you enjoy poking around and participating!</p>
                
                
                
                
                 <h2 class="fw-bold ">Leadership</h2>
                 <img class="rounded my-2 img-fluid"  src="{% static 'app/img/user.jpg' %}" alt="">
                 <p>IBLOG is led by Forem's co-founders <a href="">Mohd Aahad </a>  ,<a href="">Aamir</a> and <a href="">Ritik</a> ("PB&J").</p>
                 
                 
                 
                 
                 
                 <h2 class=" fw-bold">Teams</h2>
                 <img class="rounded my-2 img-fluid w-100" src="{%  static 'app/img/t.jpeg' %}" alt="">
                 <p>Our team is distributed around the world. We have no office, but we come together online each day to build community and improve the software careers of millions.</p>
                 <p>Happy coding ❤️</p>
             </div>
          </div>
       </div>
    </div>
    
</div>

{% endblock body %}  