
{% extends "app/base.html" %}
{% block title %}Categroy-IBLOGS Community 📝📝{% endblock %}
{% load static %}
{% block  body %}
<div class="containe">
  
    <div class="col-sm-12 px-sm-3 pt-2   " >
            
        <div class="card body2 shadow" style="border-radius: 9px;">
            <div class="card-header bg-{{cat.color}}  mb-2" style="border-radius: 10px 10px 0px 0px;">
            </div>
            
            <div class="containe1 ">
              <div class="float-start">
                <!-- <img src="{% static 'app/img/django.png' %}"  style="width: 100px;" class="p-0" alt=""> -->
                <span class="display-6 mx-3  bold ">{{cat.title}}</span>
            </div>
              <div class=" mt-3  "></div>
            <div class="float-end "><a class="btn btn-primary Follow " href="">Follow</a></div>
            </div>
            <div class="text-truncate-tag "><p class="mx-3 " >{{cat.description}}</p></div>
           
         
           
          </div>
    </div>

      <div class="row px-sm-3 d-flex  py-5 ">
 
    <div class="col-sm-2 mx-3 mb-2 ">
       
        <div class="">
          <p  class="fw-bold">submission guidelines</p>
        <p class="text-justify">Client-side, server-side, it doesn't matter. This tag should be used for anything JavaScript focused. If the topic is about a <b>{{cat.title}}</b> framework or library, just remember to include the framework's tag as well.</p>
       
        </div>
       
        <a class="btn btn-primary" href="">Create Post</a>
        
        <hr>
        <p class="text-muted">5 Posts Published</p>
        <hr>
        <p class="text-muted">Older #javascript posts
        </p>
        <a href="">1  </a><a href="">2   </a><a href="">3  </a>... <a href="">      5</a>
    </div>
  <div class="col-sm-7 mx-2">
    {% for p in posts %}
    <div class="card body2 mb-2">
       <div class="card-body">
     
        <div class="row"> <span class=""> <img src="{% static 'app/img/tint1.jpg' %}" class="rounded-circle " style="width: 40px;" alt="">
            <b class="">Aahad Rahi</b>
            <small class="float-end mx-5 pt-2">{{p.created_date}}</small>
        </div>
      

           <div class="card-text px-5 ">
           
              <a class="nav-link link-dark p-0 m-0 " href="/app/{{p.id}}"><h3 class="m-0 p-0 py-2">{{p.title}}</h3></a>
              <span class="d-flex">
              {% for area in p.category.all|slice:":3" %}
              <pre><a href="/category/{{area.url}} " style="text-decoration: none; color: black;"><span class="text-{{area.color}}">#</span><span>{{ area }} </span></a></pre>   
              {% endfor %} 
            </span>
              <div class="row">
                <div class="col-auto respons p-0"><span class=""><a class="nav-link link-dark p-0"  href="/app/{{p.id}}"> <i class="fa-regular fa-thumbs-up" style="font-size: 24px; margin-right: 5px;" ></i>{{ p.likes.count }} reactions</a></span></div>
                        <div class="col-auto respons p-0"><span class=""><a class="nav-link    link-dark p-0"  href="/app/{{p.id}}"> <i class="fa-regular fa-comment" style="font-size:24px"></i>  {{p.comment.count}} Comments</a></span></div>
                          <div class="col p-0   "> <button class="ms-2 btrespons btn btn-secondary m-0 float-end">Save</button></div>
              
                </div>
              
           
          
           </div>
       </div>
    </div>
    {% empty %}
    {% endfor %}
   
    
</div>
<div class="col-sm-2">
    <p class="fw-bold">#discuss</p>
  <div class="px-2">
      <a class="btn" href="">How do you create a Redux store for Login functionality?</a>
<hr>
<p class="fw-bold">trending guides/resources</p>

<a class="btn" href="">5 GitHub Repositories for learning developers...</a>
<a class="btn" href="">🔥🤯 Amazing Portfolio website using HTML, CSS and JS.</a>
</div>
</div>
</div>
 </div>
</div>
</div>
</div> 
{% endblock body %}


