{% extends "app/base.html" %}
{% block title %} Contacts-IBLOG  Community 📝📝{% endblock title %} 
{% load static %}
{% block  body %}
<div class="container pt-3">
    <div class="row">
        
            <div class="card ">
                <div class="p-5"> 
                    <h2>Contacts</h2>
                    <p>Iblog Community would love to hear from you!</p>
                    <p>Email: <a href="">yo@iblog.to </a>😁</p>
                    <p>Twitter:a <a href=""> @thepracticaliblog</a> 👻</p>
                    <p>Report a vulnerability: <a href="">iblog.to/security</a> 🐛</p>
                    <p>To report a bug, please create <a href="">a bug report </a> in our open source repository.</p>
                </div>
           
        </div>
    </div>
</div>
{% endblock body %}