
<footer style="width: 100%; background-color: #000;" class="page-footer  mt-3" >
    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-center">
          <div class="col-sm-10">
            <hr>
            <div class="px-3 text-center text-light">
              <p class="mb-2"> <b> IBLOG Community - A constructive and inclusive social network for software devlopers. With you every stop of  your jourey. </b></p>
               
              <p class="mb-2"><b> Built on Forem</b> -the <b>open source </b> software that powers <b> IBLOG</b> andother include Community. Made with love and <b>Python</b>. IBLOG Community © 2021 - 2022 </p>
             
              </div>       
            </div>
        </div>
      </div>
    </div>
  </footer>
   