
{% extends 'app/base.html' %}
{% block title %}IBLOG  Community 📝📝{% endblock title %}
{% load static %}
{% block body %}

<div class="containe px-md-2" >    
    <div class="row">
<div class="col-md-3 d-md-block  d-none">
    {% if not request.user.is_authenticated  %}
    <div class="card body1 mr-1 m-md-3" >
        <h5 class="p-3 pb-1">
          <b class="">  <a href="" class="text-primary  ">IBLOG Community</a> is a community of 790,675 amazing developers</b>
        </h5>
        <p class="p-3 pt-1 text-muted">We're a place where coders share, stay up-to-date and grow their careers.</p>
        <a href="{% url 'signup' %}" class="btn btn-outline-primary p-2 mx-3 mb-1">Create account</a>
        <a href="{% url 'login' %}" class="text-center button mx-3 mb-2 py-2" style=" text-decoration:none;" >Log in</a>
    </div>
    {% endif %}
    <div class="card body hover mt-2" >
    <a href="/"class="text-left button mx-3 mb-2 py-2 " style=" text-decoration:none;" ><img class="px-2" src="https://img.icons8.com/color/25/000000/home.png"/>Home</a>
    <a href="/tags" class="text-left button mx-3 mb-2 py-2  " style=" text-decoration:none;"><img class="px-2" src="https://img.icons8.com/officel/25/000000/tags.png"/>Tags</a>
    <a href="/about"class="text-left button mx-3 mb-2 py-2 " style=" text-decoration:none;"><img class="px-2" src="https://img.icons8.com/external-becris-lineal-color-becris/25/000000/external-blog-business-management-becris-lineal-color-becris.png"/>About</a>
    <a href="/contacts"class="text-left button mx-3 mb-2 py-2 " style=" text-decoration:none;"><img class="px-2" src="https://img.icons8.com/color/25/000000/business-contact.png"/>Contact</a>
    <a href=""class="text-left button mx-3 mb-2 py-2 " style=" text-decoration:none;"><img class="px-2" src="https://img.icons8.com/color/25/000000/like--v3.png"/>Sponsors</a>
    <a href=""class="text-left button mx-3 mb-2 py-2 " style=" text-decoration:none;"><img class="px-2" src="https://img.icons8.com/external-icongeek26-flat-icongeek26/25/000000/external-video-essentials-icongeek26-flat-icongeek26.png"/>Videos</a>
    <a href=""class="text-left button mx-3 mb-2 py-2 " style=" text-decoration:none;"><img class="px-2" src="https://img.icons8.com/external-skrata-royyan-wijaya/25/000000/external-interaction-music-is-my-city-skrata-royyan-wijaya-14.png"/>Podcasts</a>
    <a href=""class="text-left button mx-3 mb-2 py-2 " style=" text-decoration:none;"><img class="px-2" src="https://img.icons8.com/bubbles/25/000000/list.png"/>Reading list</a>
    <a href=""class="text-left button mx-3 mb-2 py-2 " style=" text-decoration:none;"><img class="px-2" src="https://img.icons8.com/fluency/25/000000/light.png"/>FAQ</a>
    <a href=""class="text-left button mx-3 mb-2 py-2 " style=" text-decoration:none;"><img class="px-2" src="https://img.icons8.com/fluency/25/000000/similar-items.png"/>Listings</a>
   

    </div>
 
</div>
<div class="col-md-6 ">
    <div class="row ">
        <h4 class="mt-3 mb-2 fw-bold">POST</h4>
       <div class="d-flex justify-content-center">
        <div class="col">
            {% for p in posts %}
            <div  class="cardbg card tags mb-2 " >
               <div class="card-body">
             
                <div class="row"> <span class=""> <img src="{% static 'app/img/tint1.jpg' %}" class="rounded-circle " style="width: 40px;" alt="">
                    <b class="">Aahad Rahi</b>
                    <small class="float-end mx-5 ">{{p.0.add_date}}</small>
                </div>
              

                   <div class="card-text px-5 ">
                   
                      <a class="nav-link link-dark p-0"  href="/app/{{p.0.url}}"><h3 class="m-0 title py-3"> {{p.0.title}}</h3></a>
                      <pre><a href="/category/{{p.0.cat.url}} " style="text-decoration: none; color: black;"><span class="text-{{p.0.cat.color}}">#</span>{{p.0.cat.title}} </span></a></pre>                      <div class="row">
                        
                        <div class="col-auto respons p-0"><span class=""><a class="nav-link link-dark p-0"  href="/app/{{p.0.url}}"> <i  style="font-size:24px" class="fa ">&#xf087;</i> {{p.1.count}} reactions</a></span></div>
                        <div class="col-auto respons p-0"><span class=""><a class="nav-link    link-dark p-0"  href="/app/{{p.0.url}}"><i style="font-size:24px" class="fa ">&#xf0e5;</i>  {{p.2.count}} Comments</a></span></div>
                          <div class="col p-0   "> <button class="ms-2 btrespons btn btn-secondary m-0 float-end">Save</button></div>

                      </div>
                      
                   
                  
                   </div>
               </div>
            </div>
            {% endfor %}
             </div>
        </div>
        
       </div>
</div>
<div class="col-md-3">
    <hr>
</div>
    </div>
</div>

<script src="{% static 'app/js/js.js' %}"></script>
{% endblock body %}  
