{% extends "app/base.html" %}
{% block title %} Report abuse-IBLOG  Community 📝📝{% endblock %} 
{% load static %}
{% block  body %}
<div class="container containe">
    <div class="row">
        <div class="card body2 mt-2">
            <div class="p-4">
                <h2>Report abuse</h2>
                <p>Thank you for reporting any abuse that violates our code of conduct or terms and conditions. We continue to try to make this environment a great one for everybody.</p>
                <div class="card  body2 p-4 ">
                    <div class="form-check pb-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Default radio
                        </label>
                      </div>
                      <div class="form-check pb-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Default checked radio
                        </label>
                      </div>
                      <div class="form-check pb-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Default checked radio
                        </label>
                      </div>
                      <div class="form-check pb-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Default checked radio
                        </label>
                      </div>
                      <div class="form-check pb-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Default checked radio
                        </label>
                      </div>

                      <label for="basic-url" class="form-label">Reported URL</label>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">https://</span>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                      </div>
    <div class="">
        <h6>Message</h6>
        <p class="text-muted">Please provide any additional information or context that will help us understand and handle the situation.</p>
    </div>


                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                       
                      </div>



                   <div class="pt-3"> <a class="btn btn-primary" href="">Send Fedback</a></div>
                     
                </div>
                
            </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock body %}