
{% extends 'app/base.html' %}
{% block title %}Tags-IBLOG Community 📝📝{% endblock title %}
{% load static %}
{% block body %}
<div class=" containe">
    <div class="row p-0 m-md-3">
        <h2 class="my-3 fw-bold">Top tags</h2>
        {% for cat in cats %}
        <div class="col-sm-4 p-0">
            <div class="card body2 m-1 tags "  style="border-top-left-radius: 1rem; border-top-right-radius:1rem ;border-bottom-left-radius: 8px; border-bottom-right-radius:8px; ">
                <div class="card-header bg-{{cat.color}} mb-2" style="border-top-left-radius: 8px; border-top-right-radius:8px ;">
                </div>
                <div class="mx-4 mt-3 "><a class="btn btn-outline-{{cat.color}}  float-start " href="/category/{{cat.url}}">{{cat.title}}</a></div>
                <div class="text-truncate-container"><p class="mx-4 my-3 px-md-1" >{{cat.description}}</p></div>
              <div class=" d-flex justify-content-between">
                  <div class="mx-4"><a class="btn btn-secondary float-start " href="">Follow</a></div>
                  <div class=""> <img src="/media/{{cat.image}}" style="width: 80px;" alt=""></div>
              </div>
               
              </div>
        </div>
        {% endfor %}
               
    </div>
</div>         
{% endblock body %}  


